{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
        Using the <i>Django 5 for the Impatient</i> textbook, student Gabriel Cruz created this very website.  
        Movies Store brings your favorite films to you at a discounted price. Browse our extensive collection —  
        from timeless classics to the latest blockbusters, there’s something here for everyone.  
        With just a few clicks, you can purchase movies and enjoy streaming them in high-definition quality,  
        right from the comfort of your home.  
        </p>
        <p>Discover the convenience of our digital platform, where you have the flexibility to watch movies 
          on your preferred device, whether it's a smart TV, tablet, or smartphone. With our intuitive search 
          and recommendation features, finding your next movie night pick has never been easier.</p>
         <p> At Movies Store, we’re committed to bringing entertainment closer to you — simple, affordable, and just a click away. </p>

      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}" class="max-width-100" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}